<app-my-header></app-my-header>
<div class="profile-menu">
  <a
    routerLink="/example1"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="profile-menu-link"
    >Приклад1</a
  >
  <a
    routerLink="/example2"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="profile-menu-link"
    >Приклад2</a
  >
  <a
    routerLink="/example3"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="profile-menu-link"
    >Приклад3</a
  >
  <a
    routerLink="/example4"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="profile-menu-link"
    >Приклад4</a
  >
</div>
<router-outlet></router-outlet>
